body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 600px;
  border: 1px solid #333333;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: #282828;
  color: #ffffff;
  resize: none;
  font-size: 16px;
  min-height: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #55ff55;
  color: #1e1e1e;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #45a049;
}

.notes-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.notes-list h2 {
  margin-bottom: 10px;
  color: #ffffff;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.notes-list #notes-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
  width: 100%;
  max-width: 450px;
  padding: 0 10px;
  scrollbar-width: thin;
  scrollbar-color: #55ff55 #282828;
}

.note {
  background-color: #282828;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  position: relative;
  color: #ffffff;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note:hover {
  background-color: #333333;
}

.note::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #ff4d4d;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.note::before:hover {
  background-color: #ff0000;
}

#clear-notes {
  width: 100%;
  max-width: 450px;
  background-color: #ff4d4d;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: none; /* Initially hidden */
  margin-top: 10px;
}

#clear-notes:hover {
  background-color: #ff0000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #121212;
  color: #ffffff;
  font-size: 14px;
}