body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: #282828;
  color: #ffffff;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-height: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #55ff55;
  color: #1e1e1e;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #45a049;
}

.notes-list {
  width: 100%;
  margin-top: 20px;
}

.notes-list #notes-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 320px;
  padding: 0 10px;
  scrollbar-width: thin;
  scrollbar-color: #55ff55 #1e1e1e;
}

.note {
  background-color: #282828;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  position: relative;
  color: #ffffff;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
}

.note.completed {
  text-decoration: line-through;
  color: #888;
}

.delete-icon {
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.delete-icon:hover {
  background-color: #ff0000;
}

#clear-notes {
  margin-top: 10px;
  background-color: #ff4d4d;
  color: #ffffff;
  width: 100%;
}

#clear-notes:hover {
  background-color: #ff0000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #121212;
  color: #ffffff;
  font-size: 14px;
}

@media (max-width: 600px) {
  textarea {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}